* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    text-align: center;
    padding: 25px;
    background-color: #1e4c91;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
h1 {
    font-size: 62px;
}
hr {
    height: 2px;
    width: 80vw;
    margin-top: 15px;
}
button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 1px 1px 1px #3f3f3f;
    padding: 15px 5px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
    flex-grow: 0;
    width: 250px;
}

button:hover {
    opacity: 1;
}

#zenDisplay {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px 0;
    flex-basis: 25%;
}